
.vs/KeyspaceCalc/v15/.suo
.vs/KeyspaceCalc/v15/Server/sqlite3/db.lock
.vs/KeyspaceCalc/v15/Server/sqlite3/storage.ide
.vs/KeyspaceCalc/v15/Server/sqlite3/storage.ide-shm
.vs/KeyspaceCalc/v15/Server/sqlite3/storage.ide-wal
KeyspaceCalc/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KeyspaceCalc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KeyspaceCalc/obj/Debug/KeyspaceCalc.csproj.CoreCompileInputs.cache
KeyspaceCalc/obj/Debug/KeyspaceCalc.csproj.FileListAbsolute.txt
KeyspaceCalc/obj/Debug/KeyspaceCalc.csproj.GenerateResource.cache
KeyspaceCalc/obj/Debug/KeyspaceCalc.csprojAssemblyReference.cache
KeyspaceCalc/obj/Debug/KeyspaceCalc.exe
KeyspaceCalc/obj/Debug/KeyspaceCalc.frmMain.resources
KeyspaceCalc/obj/Debug/KeyspaceCalc.pdb
KeyspaceCalc/obj/Debug/KeyspaceCalc.Properties.Resources.resources
KeyspaceCalc/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KeyspaceCalc/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KeyspaceCalc/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KeyspaceCalc/obj/Debug/KeyspaceCalc.frmOptimize.resources
KeyspaceCalc/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KeyspaceCalc/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KeyspaceCalc/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
